In [45]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [46]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [48]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [49]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect = True)

In [50]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [51]:
# Save references to each table
Measurement = Base.classes.measurement

Station = Base.classes.station

In [52]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [53]:
engine.execute('SELECT * FROM measurement LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]

In [54]:
engine.execute('SELECT * FROM station LIMIT 10').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

# Exploratory Precipitation Analysis

In [55]:
#Establishing an inspector to look through the sqlite
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [56]:
#Using the inspector to get the names and types of the columns in the measurement set
mColumns = inspector.get_columns('measurement')
for m in mColumns:
    print(m['name'], m["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [57]:
#Using the inspector to get the column names and types in the station set
sColumns = inspector.get_columns('station')
for s in sColumns:
    print(s['name'], s["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [62]:
#Using an order by function to list the dates in descending order and pulling the first one to get latest date
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [68]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
lastDate = dt.datetime(2017, 8, 23)
# Calculate the date one year from the last date in data set.
prevDate = dt.datetime(2016, 8, 23)
# Perform a query to retrieve the data and precipitation scores
mSel = [Measurement.date, Measurement.prcp]

lastYearPrcp = session.query(*mSel).\
    filter(Measurement.date > prevDate).\
    group_by(Measurement.date).\
    order_by(Measurement.date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
lastYearPrcpDf = pd.DataFrame(lastYearPrcp, columns=['date', 'prcp'])
lastYearPrcpDf.set_index('date', inplace=True,)

# Sort the dataframe by date
lastYearPrcpDf.head(50)

# Use Pandas Plotting with Matplotlib to plot the data

            prcp
date
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00
2016-08-28  0.01
2016-08-29  0.00
2016-08-30  0.00
2016-08-31  0.13
2016-09-01  0.00
2016-09-02  0.00
2016-09-03  0.00
2016-09-04  0.03
2016-09-05   NaN
2016-09-06   NaN
2016-09-07  0.05
2016-09-08  0.00
2016-09-09  0.03
2016-09-10  0.00
2016-09-11  0.05
2016-09-12  0.00
2016-09-13  0.02
2016-09-14  1.32
2016-09-15  0.42
2016-09-16  0.06
2016-09-17  0.05
2016-09-18  0.00
2016-09-19  0.00
2016-09-20  0.00
2016-09-21  0.00
2016-09-22  0.02
2016-09-23  0.00
2016-09-24  0.00
2016-09-25  0.00
2016-09-26  0.06
2016-09-27  0.02
2016-09-28  0.00
2016-09-29  0.00
2016-09-30  0.00
2016-10-01  0.00
2016-10-02  0.00
2016-10-03  0.00
2016-10-04  0.00
2016-10-05  0.00
2016-10-06  0.00
2016-10-07  0.00
2016-10-08  0.00
2016-10-09  0.00
2016-10-10  0.00
2016-10-11  0.00
2016-10-12  0.00

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()